head {
    background-color: #1E90FF;
}
body {
    height: 546px;
	font-family: 'Montserrat', sans-serif;
    text-align: center;
    border-top: 100px solid #1E90FF;
    border-bottom: 100px solid #1E90FF;
    margin: auto;
}
main {
    height: 300px;
}
footer {
    margin: 100px auto 0px auto;
}

/* Página dia 2 */
.input-padrao {
    margin: 10px auto 15px auto;
    padding: 2px 2px 2px 2px;
    border-radius: 3px;
    display: block;
}
fieldset {
    border: none;
    margin-left: -12px;
}
.sumir {
    display: none;
    transition: 500ms;
}
.botoes {
    text-align: center;
    border-radius: 18px;
    border: none;
    padding: 5px 25px;
    margin: 10px 5px;
    background-color: #1E90FF;
    color: white;
}
.botoes:hover {
    background-color: blue;
    padding: 7px 27px;
    margin: 8px 3px;
    transition: 175ms;
}
.botoes:active {
    background-color: darkblue;
    border: 2px solid darkslategray;
    padding: 6px 26px;
    margin: 7px 2px;
    transition: 175ms;
}

/* Botões-link para outros dias do desafio */
.botoes-para-outros-dias {
    color: #1E90FF;
    border-radius: 18px;
    padding: 5px 25px;
    margin: 10px 10px;
    display: inline-block;
    background-color: rgb(244, 244, 244);
    border: 1px solid #1E90FF;
    transition: 175ms;
    
}
.botoes-para-outros-dias:hover{
    background-color: #1E90FF;
    color: white;
    padding: 7px 27px;
    margin: 8px 8px;
}

/* Página do terceiro dia */
form label {
    display: block;
}
#botao+{
    display: inline-block;
}
#ultima-pergunta-dia-3 {
    display: inline-block;
}
#lista-final {
    width: 80%;
    margin: 0px auto;
}

/* Página do quinto dia */
#naoqueropornada {
    position: relative;
    vertical-align: middle;
}
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
.checkbox {
    transition: 100ms;
    border: 1px solid #1E90FF;
    padding: 3px 3px;
    margin: 1px 2px 1px px;
    border-radius: 1px;
}
.checkbox:hover {
    background: #1E90FF;
    color: white;
    padding: 5px 7px;
    margin: 2px 5px 2px 5px;
}
.lista-compras-finalizada {
    background-color: rgb(250, 250, 250);;
    border: 3px solid #1E90FF;
    margin: 2px auto;
    width: 33%;
    padding: 2px 5px 12px 5px;
}
.lista-compras-finalizada p:first-child {
    font-size: larger;
    font-weight: bolder;
}
.lista-compras-finalizada p:last-child {
    font-size: small;
}